[submodule "lib/assets/javascripts/cdb"]
	path = lib/assets/javascripts/cdb
        url = git://github.com/decision-labs/carto.js.git
[submodule "app/assets/stylesheets/old_common"]
	path = app/assets/stylesheets/old_common
	url = git://github.com/decision-labs/cartodb.css.git
[submodule "lib/sql"]
	path = lib/sql
	url = git://github.com/decision-labs/cartodb-postgresql.git
